.breakpoint-marks {
    display        : flex;
    justify-content: space-between;
    align-items    : center;

    span {
        height    : 20px;
        width     : 20px;
        border    : 1px solid $bg-primary__dark;
        margin    : 0 $padding_sm;
        padding   : $padding_sm;
        text-align: center;
    }
}