.input-checkbox {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    cursor        : pointer;

    label {
        font-size: $font-size-h5;
        cursor   : pointer;
    }

    .control {
        height       : 32px;
        width        : 32px;
        border       : 1px solid $bg-primary__dark;
        border-radius: $rounded;
        margin-right : $padding_md;
        transition   : all $transition_ease;

        svg {
            fill: $text__dark;
        }

        &.active {
            background-color: $text-link-active;
            border-color    : transparent;
        }
    }

    input {
        display: none;
    }
}

@media (min-width: 43rem) {
    .input-checkbox {
        flex-direction: row;
    }
}