.options {
    display        : flex;
    flex-direction : column;
    flex-wrap      : wrap;
    justify-content: space-between;

    .options-name {
        display       : flex;
        flex-direction: column;

        input {
            margin-top: $padding-xs;
        }

        .rendered-name {
            margin-left: $padding-xs;
            font-size  : $font_size_h4;
            font-weight: bold;
        }
    }

    .options-buttons {
        display : flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top    : $padding-sm;

        button {
            font-size      : $font_size_xsmall;
            margin : $padding-sm;
            max-height : 62px;
            display        : flex;
            flex-direction : column;
            align-items    : center;
            justify-content: center;
            font-weight    : bold;

            .icon {
                width : 32px;
                height: 24px;
            }

            * {
                padding: $padding-sm;
            }
        }
    }
}


@media (min-width: 43rem) {
    .options {
        flex-direction: row;

        .options-buttons {
            margin-top: 0;
        }
    }
}