.units-add {
    margin-top    : $padding_xl;
    flex-direction: column;
    display       : flex;
}
.table {
    width     : 100%;
    margin-top: $padding_xl;

    &-header,
    &-body {
        display   : block;
        text-align: left;

        .row {
            display      : block;
            width        : 100%;
            position     : relative;
            border-top: 1px solid $bg-primary__dark;

            .cell {
                width : 10%;
                padding       : $padding_xs 0;
                font-size     : $font_size_p;
                display       : inline-block;
                vertical-align: top;
                box-sizing    : border-box;
                min-height    : 80px;

                &-wide {
                    width: 45%;
                }

                &-xwide {
                    width: 50%;
                }

                &-medium {
                    width: 25%;
                }
                
                &-small {
                    width: 20%;
                }
                &-full {
                    width: 100%;
                }

                &-slim {
                    min-height: auto;
                }

                .options-buttons,
                .flex {
                    display        : flex;
                    flex-wrap      : wrap;
                    justify-content: flex-start;

                    * {
                        margin: $padding_xxs;
                    }
                    &.column {
                        flex-direction: column;
                    }
                }

                .deployment-number {
                    display : flex;
                    span {
                        margin: 0 $padding_xxs;
                        width : 24px;
                        height : 24px;
                        display        : flex;
                        justify-content: center;
                        align-items    : center;
                        border : 1px solid $bg-primary__dark;
                        border-radius  : 32px;
                        font-size: $font_size_small;

                        &:first-child {
                            margin-left: 0;
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .options-buttons {
                    flex-direction: column;
                }

                .counter {
                    justify-content: flex-start;
                    align-items    : center;
                }
            }
        }
        &:last-child {
            border-bottom: 1px solid $bg-primary__dark;
        }
    }

    &-header {
        font-weight: bold;


        .row {
            border-width: 2px;

            .cell {

                min-height: auto;
            }
        }
    }

    button {
        padding    : $padding_xs;
        margin     : $padding_xs 0;
        font-weight: bold;
        max-height : 32px;
        max-width  : 32px;
        height     : 32px;
        width      : 32px;

    }
}
@media (min-width: $width-content) {
    .table .row .cell {
        width: 5%;

        &-wide {
            width: 22.5%;
        }

        &-xwide {
            width: 32%;
        }

        &-medium {
            width: 12.5%;
        }

        &-small {
            width: 8%;
        }
        &-full {
            width: 100%;
        }
    }
}