@media print {

    select,
    input,
    button,
    .no-print {
        display: none !important;
    }

    #app {
        display: block;

        main {
            width  : 100%;
            padding: 0;
            margin : 0;
        }
    }

    body {
        font-size: $font_size_small !important;

        p {
            font-size: $font_size_small !important;
        }

        h1 {
            font-size    : $font_size_h2 !important;
            margin-bottom: $padding_xs !important;
        }

        h2 {
            font-size    : $font_size_h3 !important;
            margin-bottom: $padding_xs !important;
        }

        h3 {
            font-size    : $font_size_h4 !important;
            margin-bottom: $padding_xs !important;
        }

        h4 {
            font-size    : $font_size_h5 !important;
            margin-bottom: $padding_xs !important;
        }

        h5 {
            font-size    : $font_size_h6 !important;
            margin-bottom: $padding_xs !important;
        }
    }

    .table {
        margin-top: $padding_xs;

        .row {
            break-inside: avoid !important;

            .cell {
                break-inside: avoid !important;
                min-height  : auto !important;
                font-size   : $font_size_xsmall !important;
                width       : 5% !important;

                &-wide {
                    width: 22.5% !important;
                }

                &-xwide {
                    width: 32% !important;
                }

                &-medium {
                    width: 17.5% !important;
                }

                &-small {
                    width: 10% !important;
                }
                &-full {
                    width: 100% !important;
                }
                .badge {
                    font-size: $font_size_xsmall !important;
                    padding  : 0 $padding_xxs !important
                }

                .checkbox-group-selected {
                    width: 100% !important;
                    justify-content: flex-start !important;

                    label {
                        font-size: $font_size_xsmall !important;
                    }
                    }

                .deployment-number {
                    span {
                        border-width: 1px !important;
                        width       : 18px !important;
                        height      : 18px !important;
                        font-size: $font_size_xsmall !important;
                    }
                }
                }
            }
            }
            table {
                td {
                    padding  : $padding_xs 0 !important;
                    font-size: $font_size_xsmall !important;
                    }
                    }

                    .badge {
                        border-width: 1px !important;
                    }
            .options .options-name .rendered-name {
                font-size: $font_size_h5 !important;
                padding : 0 $padding_xxs !important
    }
}