body {
    font-size: $font_size_basic;

    h1 {
        font-size: $font_size_h1;
    }

    h2 {
        font-size: $font_size_h2;
    }

    h3 {
        font-size: $font_size_h3;
    }

    h4 {
        font-size: $font_size_h4;
    }

    h5 {
        font-size: $font_size_h5;
    }

    h6 {
        font-size: $font_size_h6;
    }

    p {
        font-size : $font_size_p;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-top   : 0;
        margin-bottom: 0.6em;
    }
    ul,
    ol {
        font-size: $font_size_p;
    }
}