.fade-enter-active,
.fade-leave-active {
  transition: opacity $transition_ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.list-move,
.list-enter-active,
.list-leave-active {
  transition: all $transition_ease;
}

.list-enter-from,
.list-leave-to {
  opacity  : 0;
  transform: translateY(30px);
}